.flexbox-container{
  display: flex;
  width: 100vw;
}

.flexbox-container article{
  width: 50vw;
}

#cheese{
  border: 1px solid red;
}

#crackers{
  border: 1px solid blue;
}

#container {
  display: flex;
  min-height: 1500px;
}

#audrey {
  background-color: purple;
  color: snow;
  min-height: 100px;
  width: 50px;
  position: fixed;
}

.disabled {
    background-color: gray;
}

.enabled {
    background-color: fuchsia;
    color: goldenrod;
}

